@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap");

* {
  font-family: Quicksand !important;
  box-sizing: border-box;
  position: flex;
}
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
